@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: flex-end;
}

.App {
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-family: "Montserrat";
  padding-bottom: 20px;
}

.header h3 {
  color: red;
}

.cars {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pricing {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.rrp {
  text-decoration: line-through;
  color: grey;
  display: flex;
  flex-direction: column;
}

.price {
  color: red;
}

.saving {
  color: #6dc9a1;
}

.saving button {
  background-color: #6dc9a1;
  border: none;
  padding: 5px;
  color: white;
}

.car {
  display: flex;
  padding: 10px;
  flex-direction: column;
  max-width: 200px;
  height: 400px;
  border: lightgrey 1px solid;
  border-radius: 5px;
}

.car img {
  width: 100%;
}

.detail {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-family: "Montserrat";
}

.detail h2 {
  color: navy;
  font-size: 20px;
  padding-bottom: 10px;
}
.detail p {
  font-size: 15px;
}

.status {
  padding-top: 80px;
  font-size: 10px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #6dc9a1;
}
